
<ul class="share-buttons">
    <li><a href="https://getpocket.com/save?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank" title="Add to Pocket"><img src="{{site.baseurl}}/assets/social/Pocket.svg"></a></li>
  <li><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" title="Share on Google+"><img src="{{site.baseurl}}/assets/social/Google+.svg"></a></li>
  <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&t={{ page.title }}" title="Share on Facebook" target="_blank"><img src="{{site.baseurl}}/assets/social/Facebook.svg"></a></li>
  <li><a href="https://twitter.com/intent/tweet?source={{ site.url }}&text={{ page.title }}%20{{ site.url }}{{ page.url }}&via=dev14e" target="_blank" title="Tweet"><img src="{{site.baseurl}}/assets/social/Twitter.svg"></a></li>
</ul>
